@import '../gui/variables';

.basket-box {
    font-family: $font-secondary;
    &__header {
        max-height: 600px;
        padding: 10px 11px;
        font-size: $font-size-middle;
        color: $color-white;
        line-height: 15px;
        margin-top: 12px;
        &--head {
            background-color: $color-fourth;
            font-weight: $font-weight-regular;
        }
        &--location {
            background-color: #ffd55a;
            margin-top: 0;
            color: $color-primary;
        }
    }
    &__meal {
        border: 1px solid $color-secondary;
        font-weight: $font-weight-regular;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: $font-size-small;
        font-family: $font-base;
        padding: 8px;
    }
    &__table {
        width: 100%;
        .basket-box-list {
            &__name {
                font-size: 9px;
                color: $color-tertiary;
            }
            &__price {
                text-align: right;
                font-size: 9px;
                font-weight: normal;
            }
            &__total {
                text-align: right;
            }
        }
    }
    &__button {
        background-color: $color-secondary;
        padding: 7px 8px;
        .btn-secondary {
            width: 100%;
        }
    }
}