.btn-primary {
  background-color: #48912a;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 2px 11px;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  border: 0;
  outline: none;
  font-size: 12px;
  font-weight: 700;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.19);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #328112;
}

.btn-secondary {
  background-color: #FEBA36;
  color: #333333;
  border: 1px solid #FEB11D;
  border-radius: 3px;
  padding: 8px 17px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.19);
          box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15), inset 0 1px 0 rgba(255, 255, 255, 0.19);
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
  background-color: #fcb11b;
}

header .top--gray {
  height: 73px;
  background-color: #F3F3F3;
}

header .top--right {
  float: right;
}

header .top--margin {
  margin: 12px 0 0;
}

header .top a {
  text-decoration: none;
}

header .content {
  height: 80px;
  position: relative;
}

header .content--red {
  background: #AB0012;
}

header .content .logo {
  width: 157px;
  height: 155px;
  background: url("../../images/logo.png") no-repeat 50%;
  top: -60px;
  left: 48px;
  opacity: 1;
  z-index: 1;
  border-radius: 50%;
  position: relative;
}

.banner {
  min-height: 100px;
  position: relative;
  overflow: hidden;
  font-family: Open Sans, sans-serif;
  color: #333333;
}

.banner h2 {
  font-weight: 600;
}

.banner img {
  position: absolute;
  right: 0;
  top: -40px;
}

.banner__content {
  position: relative;
  margin: 15px 0 0;
}

.banner--right {
  float: left;
}

.product {
  background: #FFFFFF;
  margin: 0 0 20px;
  border-radius: 3px;
  border: 1px solid #F3F3F3;
}

.product__head {
  width: 60%;
  font-weight: 600;
  color: #333333;
  margin: 4px;
}

.product__head h2 {
  font-size: 15px;
  padding: 12px 0 12px 12px;
  margin: 0;
}

.product__content {
  padding: 0;
  border: 1px solid #F3F3F3;
  font-size: 11px;
  color: #FF6508;
  font-weight: 700;
}

.product__content ul {
  padding: 0;
  margin: 0;
}

.product__content li {
  list-style: none;
  position: relative;
  border-bottom: 1px solid #F3F3F3;
  padding: 7px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.product__info--small {
  color: #333333;
  font-weight: 500;
}

.product__price {
  text-align: right;
}

.product__actions {
  margin-right: 15px;
}

.product__count {
  width: 26px;
  height: 17px;
  text-align: center;
  margin-top: 2px;
  border: 1px solid #F3F3F3;
  border-radius: 2px;
  font-size: 11px;
  margin-right: 4px;
}

.detail-box {
  font-family: Verdana, Geneva, sans-serif;
  border: 1px solid #F3F3F3;
  margin: 0 0 15px;
  padding: 5px 0 5px 10px;
  height: auto;
  -webkit-box-shadow: 1px 1px 0 #F3F3F3;
          box-shadow: 1px 1px 0 #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail-box__rating {
  margin-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.detail-box__point {
  float: left;
  width: 30%;
  height: 50px;
  border-radius: 3px;
  margin: 0 5px 0 0;
  padding: 10px 0 0;
  background-color: #a5c530;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}

.detail-box__point span {
  font-size: 22px;
  margin-top: 10px;
}

.detail-box__head {
  color: #949494;
}

.detail-box__head h2 {
  font-size: 12px;
}

.detail-box__short-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.detail-box__short-info div {
  width: 30%;
}

.detail-box__short-info div h2 {
  color: #949494;
  font-size: 12px;
}

.detail-box__short-info div span {
  font-size: 11px;
  font-weight: 600;
}

.detail-box__image {
  margin-right: 15px;
}

.basket-box {
  font-family: Open Sans, sans-serif;
}

.basket-box__header {
  max-height: 600px;
  padding: 10px 11px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 15px;
  margin-top: 12px;
}

.basket-box__header--head {
  background-color: #AB0012;
  font-weight: 600;
}

.basket-box__header--location {
  background-color: #ffd55a;
  margin-top: 0;
  color: #333333;
}

.basket-box__meal {
  border: 1px solid #F3F3F3;
  font-weight: 600;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 11px;
  font-family: Verdana, Geneva, sans-serif;
  padding: 8px;
}

.basket-box__table {
  width: 100%;
}

.basket-box__table .basket-box-list__name {
  font-size: 9px;
  color: #FF6508;
}

.basket-box__table .basket-box-list__price {
  text-align: right;
  font-size: 9px;
  font-weight: normal;
}

.basket-box__table .basket-box-list__total {
  text-align: right;
}

.basket-box__button {
  background-color: #F3F3F3;
  padding: 7px 8px;
}

.basket-box__button .btn-secondary {
  width: 100%;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
}

.container {
  margin: 0 10% 0;
}

.section {
  margin: 25px 0 0;
}

.section--right {
  float: right;
  width: 72%;
}

.section--left {
  float: left;
  width: 25%;
  margin-right: 5px;
}

.tabContent .hide {
  display: none;
}
/*# sourceMappingURL=main.css.map */